<nz-modal
  [(nzVisible)]="editVisible"
  nzTitle="Edit a book"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkDisabled]="!editBookForm.valid"
>
<ng-container *nzModalContent>
  <form nz-form class="login-form" [formGroup]="editBookForm">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input
            type="text"
            nz-input
            formControlName="name"
            placeholder="Name"
          />
        </nz-input-group>

        <div class="red-text" *ngIf="name?.errors?.['required']">
          Please input a book!
        </div>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input
            type="text"
            nz-input
            formControlName="author"
            placeholder="Author"
          />
        </nz-input-group>

        <div class="red-text" *ngIf="author?.errors?.['required']">
          Please input an author!
        </div>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group>
        <nz-form-control>
          <input
            type="number"
            nz-input
            formControlName="numberOfPages"
            placeholder="Number of pages"
          />

          <div class="red-text" *ngIf="numberOfPages?.errors?.['tooFewPages']">
            The number of the pages should be greater than 0!
          </div>

        </nz-form-control>
      </nz-input-group>
    </nz-form-item>

    <nz-form-item>
      <nz-input-group>
        <input type="checkbox" nz-input formControlName="isRead" /> I read
        this book!!
      </nz-input-group>
    </nz-form-item>

    <nz-form-item *ngIf="isRead.value == true">
      <nz-input-group>
        <nz-form-control>
        <input
          type="number"
          nz-input
          formControlName="rating"
          placeholder="Rating"
        />

        <div class="red-text" *ngIf="rating?.errors?.['invalidRating']">
          The rating can't be negative of greater than 5!
        </div>
      </nz-form-control>
      </nz-input-group>
    </nz-form-item>
  </form>
</ng-container>
</nz-modal>
