<nz-modal
  [(nzVisible)]="editVisible"
  nzTitle="Edit a book"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkDisabled]="!editBookForm.valid"
>
  <ng-container *nzModalContent>
    <form nz-form class="login-form" [formGroup]="editBookForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group>
            <input
              type="text"
              nz-input
              formControlName="name"
              placeholder="Name"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-input-group>
          <input
            type="text"
            nz-input
            formControlName="author"
            placeholder="Author"
          />
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-input-group>
          <input
            type="number"
            nz-input
            formControlName="numberOfPages"
            placeholder="Number of pages"
          />
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-input-group>
          <input type="checkbox" nz-input formControlName="isRead" /> I read
          this book!!
        </nz-input-group>
      </nz-form-item>

      <nz-form-item *ngIf="isRead.value==true">
        <nz-input-group>
          <input
            type="number"
            nz-input
            formControlName="rating"
            placeholder="Rating"
          />
        </nz-input-group>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
