<div class="table-container">
  <div class="table-actions">
    <button nz-button nzType="primary" (click)="addVisible = true">
      Add New Book
    </button>

    <app-add-book [(addVisible)]="addVisible"></app-add-book>
  </div>

  <nz-table #basicTable [nzData]="books" [nzPageSize]="8" [nzBordered]="true">
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Read</th>
        <th>Rating</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.author }}</td>
        <td>{{ data.numberOfPages }}</td>
        <td>
          <span
            nz-icon
            [nzType]="data.isRead === true ? 'check' : 'close'"
            nzTheme="outline"
          ></span>
        </td>
        <td>
          {{ data.rating | rating }}
          <span nz-icon nzType="star" nzTheme="outline"></span>
        </td>
        <td>
          <span
            class="edit-button"
            nz-icon
            nzType="edit"
            nzTheme="outline"
            (click)="editBook(data)"
          ></span>
        </td>
        <td>
          <span
          class="delete-button"
          nz-icon
          nzType="delete"
          nzTheme="outline"
          (click)="deleteBook(data)"
          ></span>
        </td>
      </tr>
      <app-edit-book *ngIf="editVisible==true" [(editVisible)]="editVisible" [bookToEdit]="bookToEdit" ></app-edit-book>
    </tbody>
  </nz-table>
</div>
